!!! 5
%html
  %head
    %title logger
    %script{src: '//d3js.org/d3.v3.min.js', charset:'utf-8'}
    :css
      body{font:10px sans-serif} .axis path,.axis line{fill:none;stroke:#000;shape-rendering:crispEdges} .x.axis path{display:none} .line{fill:none;stroke:#4682B4;stroke-width:1.5px}
      .overlay {
        fill: none;
        pointer-events: all;
      }

      .focus circle {
        fill: none;
        stroke: steelblue;
      }

  %body
    =yield

